.navbar.bg-warning {
    background-color: #fef200 !important;
}

.navbar-brand-dark {
    color: rgba(0,0,0,1) !important;
    font-weight: bold;
    font-size: large;
}

.nav-link:link {
    color: rgba(0,0,0,.5) !important;
    font-weight: bold;
    font-size: large;
}

.nav-link:visited {
    color: rgba(0,0,0,.5) !important;
    font-weight: bold;
    font-size: large;
}

.nav-link:hover {
    color: rgba(0,0,0,1) !important;
    font-weight: bold;
    font-size: large;
}

.nav-link:active {
    color: rgba(0,0,0,.5) !important;
    font-weight: bold;
    font-size: large;
}



.header-pixels {
    min-height: 64px;
}

.header-logo {
    float: right;
    height: 123px !important;
}